.c-tabla {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
.c-tabla td, .c-tabla th {
   border: 1px solid #ddd;
   padding: 8px;
   text-decoration: none;
}
  
.c-tabla tr:nth-child(even){
    background-color: #f2f2f2;
}
  
.c-tabla tr:hover {
    background-color: #ddd;
}
  
.c-tabla th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}